{% extends 'base.html.twig' %}

{% block title %}Calendar AjaxCall{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body">
            AjaxCall Page
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h3>Your content type: =></h3>{{ contentType }}
        </div>
    </div>
{% endblock %}